/*досить коротко але і досить незрозуміло. через місяць треба буде зробити фікс а тиfooter і не зрозумієш що тут прийдеться розбиратися заново*/
.bdr {
    width: 1126px;
    height: 50px;
    background: black;
    border: 4px black ;
}
.bdr h1{
    color: white;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    padding: 3px;
    margin: 5px;
    width: 1126px;
}
a{
    color: red;
}
#ul1 ul li{
    list-style-type: square;
}
#qua p{
    height: 60px;
    padding: 10px;
    background: #cccccc;
    border: 3px solid #1f553d;
}

#qua {
    text-align: right;
}
#bdr2{
    margin:10px auto 5px;
    padding: 10px;
    width: 480px;
    height: 170px;
    border: 2px solid #adff2f;
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-right-style: none;
    border-left-style: none;
    background: #006600;
    font-size: 20px;
    overflow:auto;
    text-align: left;
}
#bdr2 p{
    color: #adff2f;
}
#method p{
    color: blue;
    font-weight: bold;
}
#method ul li{
    list-style-type: circle;
}
.sub{
    border: 1px solid;
    background-color: black;
    color: #e2e86e;
    font-size: 20px;
}